In [5]:
import pandas as pd

In [6]:
""" The data was originally collected as (year, team name, manufacturer name),
but to use this data with the existing dataset, the team name field must be 
converted to the constructor ID.  """

' The data was originally collected as (year, team name, manufacturer name),\nbut to use this data with the existing dataset, the team name field must be \nconverted to the constructor ID.  '

In [7]:
engine_manufacturers = pd.read_csv("./dataset/engine_manufacturers.csv")
constructors = pd.read_csv("./dataset/constructors.csv")

display(engine_manufacturers.head())
display(constructors.head())

   year team_name engine_manufacturer
0  2010   McLaren            Mercedes
1  2010  Mercedes            Mercedes
2  2010  Red Bull             Renault
3  2010   Ferrari             Ferrari
4  2010  Williams            Cosworth

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso

In [8]:
# Merge the two tables on the "name" column
old_to_new_names = {
    'Force India': 'Racing Point',
    'Toro Rosso': 'AlphaTauri',
    'Sauber': 'Alfa Romeo',

    'Lotus': 'Renault',
    'Lotus F1': 'Renault',

    'Marussia': 'Manor Marussia',
    'Virgin': 'Manor Marussia'
}

engine_manufacturers['team_name'].replace(old_to_new_names, inplace=True)
merged = pd.merge(engine_manufacturers, constructors[['name', 'constructorId']], left_on='team_name', right_on='name', how='left')

# Make sure all team names are correct.
assert(not merged['constructorId'].hasnans)


# Drop the "name" and "constructorId" columns
merged = merged.drop(['name', 'team_name'], axis=1)

merged.to_csv("./dataset/engine_manufacturers_processed.csv")