In [2]:
import pandas as pd

In [45]:
# the columns we need for this analysis
races = pd.read_csv('dataset/races.csv')
results = pd.read_csv('dataset/results.csv')
drivers = pd.read_csv('dataset/drivers.csv')
pit_stops = pd.read_csv('dataset/pit_stops.csv')

In [31]:
# get races in date 2020
races_20 = races[races['year']==2020]

In [33]:
for index,row in races_20.iterrows():
    print(row['name'], row['raceId'])
    # get rows of rsults whith specefic raceId and postion is one
    print('race_id=',  row['raceId'] )
    winner_row = results[ (results['raceId']==row['raceId'])  & (results['position']== '1') ]
    # get the driverId of the winner
    winner_driverId = winner_row['driverId'].values[0]
    print(winner_driverId)
    # get the driver name of the winner
    winner_name = drivers[drivers['driverId']==winner_driverId]['forename'].values[0]
    print('winner is ',winner_name)
    
    print(len(winner_row))
    print('------------------')

Austrian Grand Prix 1031
race_id= 1031
822
winner is  Valtteri
1
------------------
Styrian Grand Prix 1032
race_id= 1032
1
winner is  Lewis
1
------------------
Hungarian Grand Prix 1033
race_id= 1033
1
winner is  Lewis
1
------------------
British Grand Prix 1034
race_id= 1034
1
winner is  Lewis
1
------------------
70th Anniversary Grand Prix 1035
race_id= 1035
830
winner is  Max
1
------------------
Spanish Grand Prix 1036
race_id= 1036
1
winner is  Lewis
1
------------------
Belgian Grand Prix 1037
race_id= 1037
1
winner is  Lewis
1
------------------
Italian Grand Prix 1038
race_id= 1038
842
winner is  Pierre
1
------------------
Tuscan Grand Prix 1039
race_id= 1039
1
winner is  Lewis
1
------------------
Russian Grand Prix 1040
race_id= 1040
822
winner is  Valtteri
1
------------------
Eifel Grand Prix 1041
race_id= 1041
1
winner is  Lewis
1
------------------
Portuguese Grand Prix 1042
race_id= 1042
1
winner is  Lewis
1
------------------
Emilia Romagna Grand Prix 1043
race_id= 1043
1
winner is  Lewis
1
------------------
Turkish Grand Prix 1044
race_id= 1044
1
winner is  Lewis
1
------------------
Bahrain Grand Prix 1045
race_id= 1045
1
winner is  Lewis
1
------------------
Sakhir Grand Prix 1046
race_id= 1046
815
winner is  Sergio
1
------------------
Abu Dhabi Grand Prix 1047
race_id= 1047
830
winner is  Max
1
------------------

In [25]:
# get the driverId of the winner of each race

24560     True
24621    False
24622    False
24623    False
24624    False
24625    False
24626    False
24627    False
24628    False
24629    False
24630    False
24631    False
24632    False
24633    False
24634    False
24635    False
24636    False
24637    False
24638    False
24639    False
Name: position, dtype: bool

In [21]:
winner_row

Empty DataFrame
Columns: [resultId, raceId, driverId, constructorId, number, grid, position, positionText, positionOrder, points, laps, time, milliseconds, fastestLap, rank, fastestLapTime, fastestLapSpeed, statusId]
Index: []

In [35]:
# Join the races and results DataFrames on their common 'raceId' column
race_results = races.merge(results, on='raceId')

In [36]:

race_results.head()

,raceId,year,round,circuitId,name,date,time_x,url,fp1_date,fp1_time,...,positionOrder,points,laps,time_y,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,...,1,10.0,58,1:34:15.784,5655784,17,3,1:28.020,216.891,1
1,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,...,2,8.0,58,+0.807,5656591,43,14,1:29.066,214.344,1
2,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,...,3,6.0,58,+1.604,5657388,50,10,1:28.916,214.706,1
3,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,...,4,5.0,58,+4.435,5660219,53,6,1:28.416,215.920,1
4,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,...,5,4.0,58,+4.879,5660663,53,9,1:28.712,215.199,1

In [41]:

# Filter for rows where the driver finished in position 1
position_1 = race_results[race_results['position'] == '1']

In [44]:

# Merge the filtered DataFrame with the drivers DataFrame on their common 'driverId' column
position_1_drivers = position_1.merge(drivers, on='driverId')

# Select only the columns you're interested in
position_1_drivers = position_1_drivers[['raceId', 'driverId', 'year', 'name', 'forename', 'surname']]

# Print the results
print(position_1_drivers)

      raceId  driverId  year                   name forename  surname
0          1        18  2009  Australian Grand Prix   Jenson   Button
1          2        18  2009   Malaysian Grand Prix   Jenson   Button
2          4        18  2009     Bahrain Grand Prix   Jenson   Button
3          5        18  2009     Spanish Grand Prix   Jenson   Button
4          6        18  2009      Monaco Grand Prix   Jenson   Button
...      ...       ...   ...                    ...      ...      ...
1077    1080       815  2022      Monaco Grand Prix   Sergio    Pérez
1078    1091       815  2022   Singapore Grand Prix   Sergio    Pérez
1079    1062       839  2021   Hungarian Grand Prix  Esteban     Ocon
1080    1083       832  2022     British Grand Prix   Carlos    Sainz
1081    1095       847  2022   Brazilian Grand Prix   George  Russell

[1082 rows x 6 columns]

In [48]:
# Join the pit_stops and results DataFrames on their common 'raceId' and 'driverId' columns
pit_stops_results = pit_stops.merge(results, on=['raceId', 'driverId'])

# Filter for rows where the driver finished in position 1
position_1 = pit_stops_results[pit_stops_results['position'] == '1']

# Group the filtered DataFrame by 'raceId' and 'driverId' and count the number of pit stops
pit_stops_winner = position_1.groupby(['raceId', 'driverId']).count()['stop']

# Print the results
print(pit_stops_winner)

raceId  driverId
841     20          2
842     20          3
843     1           3
844     20          4
845     20          4
                   ..
1092    830         2
1093    830         2
1094    830         1
1095    847         2
1096    830         1
Name: stop, Length: 239, dtype: int64

raceId  driverId
841     20          2
842     20          3
843     1           3
844     20          4
845     20          4
Name: stop, dtype: int64

In [62]:
position_1[position_1['raceId'] == 1031]

,raceId,driverId,stop,lap,time_x,duration,milliseconds_x,resultId,constructorId,number,...,positionOrder,points,laps,time_y,milliseconds_y,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
7444,1031,822,1,26,15:43:06,21.937,21937,24626,131,77,...,1,25.0,71,1:30:55.739,5455739,68,2,1:07.657,229.758,1
7445,1031,822,2,56,16:23:58,16.407,16407,24626,131,77,...,1,25.0,71,1:30:55.739,5455739,68,2,1:07.657,229.758,1